DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.ltooojixxhvmpjrhfufd.supabase.co:5432/postgres"
NEXT_PUBLIC_SUPABASE_URL="https://ltooojixxhvmpjrhfufd.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable__your_publishable_key"
